---
---

@font-face {
  font-family: 'pastukhov';
  src: url('./fonts/pastukhov.eot?27248619');
  src: url('./fonts/pastukhov.eot?27248619#iefix') format('embedded-opentype'),
       url('./fonts/pastukhov.woff?27248619') format('woff'),
       url('./fonts/pastukhov.ttf?27248619') format('truetype'),
       url('./fonts/pastukhov.svg?27248619#pastukhov') format('svg');
  font-weight: normal;
  font-style: normal;
}

.demo-icon {
  font-family: "pastukhov";
  font-style: normal;
  font-weight: normal;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

$dark1:#FFA101;
$dark2:#31525B;
$light1: #FAE6B1;
$light2: #B3DEE5;

html {
  scroll-behavior: smooth;
}

canvas.dark2 {
  background: $dark2;
  background-color: $dark2;
}

section.no-padding {
  padding-top: 0%;
  padding-bottom: 0%;
}

section.scroll-margin {
  padding-top: 0em;
  padding-bottom: 0em;
  scroll-margin-top: 3em;
}


div.padded {
  padding-bottom: 1em; 
  padding-top: 1em;
}

div.canvas-container {
  height: 200px;
  width: 240px;
  background-color: $dark2;
  border-radius: 10px;
  border: 1px solid $dark2;
  overflow: hidden;
}

body {
  font-family: 'Zilla Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

td.publication {
  font-size: 20px;
}

td.cv-date {
  font-size: 20px;

  font-weight: bold;
}

td.cv {
  font-size: 20px;
}


.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.card-abstract {
  font-size: 16px;
}

ul,p {
  font-size: 20px;
}
li {
  padding-bottom: 5px;
}
p.small {
  font-size: 16px;
}

a {
  color: $dark2;
  outline: none;
}

a:hover,
a:focus,
a:active,
a.active {
  color: $dark1;
  outline: none;
}

a.light2{
  color: white;
  outline: none;
}

a.light2:hover,
a.light2:focus,
a.light2:active,
a.light2.active{
  color: white;
  outline: none;
}

.container-light1{
  background-color: $light1;
  color: $dark2;
  padding-top: 2em;
}

.container-light2{
  background-color: $light2;
  color: $dark2;
  padding-top: 2em;
}

hr.dark1 {
  border: 1px solid $dark1;
}


hr.dark2 {
  border: 1px solid $dark2;
}

a.dark1{
  color: $dark1;
  outline: none;
}


a.dark2{
  color: $dark2;
  outline: none;
}

p.publication-title {
  color: $dark2;
}

div.dark1{
  color: $light1;
  background-color: $dark1;
}

div.dark2{
  color: white;
  background-color: $dark2;
}



h2.dark1 {
  color: $dark1;
}

h2.dark2 {
  color: $dark2;
}


h3.dark1 {
  color: white;
}

h3.dark2 {
  color: $dark2;
}

h4 {
  font-size: larger;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ramabhadra", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}



hr.star-light,
hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}
hr.star-light:after,
hr.star-primary:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.star-light {
  border-color: white;
}
hr.star-light:after {
  background-color: $dark1;
  color: white;
}
hr.star-primary {
  border-color: $dark2;
}
hr.star-primary:after {
  background-color: white;
  color: $dark2;
}
.img-centered {
  margin: 0 auto;
}
header {
  text-align: center;
  background: white;
  color: $dark2;
}
header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}
header img {
  display: block;
  margin: 0 auto 20px;
}
header .intro-text .name {
  display: block;
  font-family: "Ramabhadra", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}
@media (min-width: 768px) {
  header .container {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  header .intro-text .name {
    font-size: 4.75em;
  }
  header .intro-text .skills {
    font-size: 1.75em;
  }
}

.navbar-pastukhov {
  background: $dark2;
  font-family: "Ramabhadra", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}
.navbar-pastukhov a:focus {
  outline: none;
}
.navbar-pastukhov .navbar-brand {
  color: white;
}
.navbar-pastukhov .navbar-brand:hover,
.navbar-pastukhov .navbar-brand:focus,
.navbar-pastukhov .navbar-brand:active,
.navbar-pastukhov .navbar-brand.active {
  color: $light2;
}
.navbar-pastukhov .navbar-nav {
  letter-spacing: 1px;
}
.navbar-pastukhov .navbar-nav li a {
  color: white;
}
.navbar-pastukhov .navbar-nav li a:hover {
  color: $light2;
}
.navbar-pastukhov .navbar-nav li a:focus,
.navbar-pastukhov .navbar-nav li a:active {
  background-color: $dark2;
  color: white;
}
.navbar-pastukhov .navbar-nav li.active a {
  color: $light2;
  background-color: $dark2;
}
.navbar-pastukhov .navbar-nav li.active a:hover,
.navbar-pastukhov .navbar-nav li.active a:focus,
.navbar-pastukhov .navbar-nav li.active a:active {
  color: $dark2;
  background-color: $light2;
}
.navbar-pastukhov .navbar-toggle {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  border-color: white;
}
.navbar-pastukhov .navbar-toggle:hover,
.navbar-pastukhov .navbar-toggle:focus {
  background-color: $dark2;
  color: white;
  border-color: $dark2;
}
@media (min-width: 768px) {
  .navbar-pastukhov {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-pastukhov .navbar-brand {
    font-size: 1.5em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-pastukhov.affix {
    padding: 10px 0;
  }
  .navbar-pastukhov.affix .navbar-brand {
    font-size: 1.5em;
  }
}
section {
  padding: 50px 0;
}
section h2 {
  margin: 0;
  font-size: 2em;
}
section.success {
  background: $dark1;
  color: white;
}
@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }
}
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .caption {
  background: rgba(24, 188, 156, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: $dark1;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}
footer {
  color: white;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 50px;
  background-color: $dark2;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: $dark2;
  color: $light2;
}

.btn-outline {
  color: $dark1;
  font-size: 20px;
  border: solid 2px $dark1;
  background: $light1;
  background-color: $light1;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: black;
  background: $light1;
  border: solid 2px $dark1;
}

.btn-dark {
  border: solid 2px $dark2;
  background: white;
  background-color: white;
  color: $dark2;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active {
  color: white;
  background: $dark2;
  border: solid 2px white;
}

.btn-light1 {
  color: $dark1;
  background: $light1;
  border: solid 2px $dark1;
}

.btn-light2 {
  color: $dark2;
  background: $light2;
  border: solid 2px $dark2;
}


.btn-light:hover,
.btn-light:focus,
.btn-light:active,
.btn-light.active {
  color: white;
  background: $dark1;
  border: solid 2px white;
}

.btn-primary {
  color: white;
  background-color: $dark2;
  border-color: $dark2;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #1a242f;
  border-color: #161f29;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: $dark2;
  border-color: $dark2;
}
.btn-primary .badge {
  color: $dark2;
  background-color: white;
}
.btn-success {
  color: white;
  background-color: $dark1;
  border-color: $dark1;
  font-weight: 700;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: white;
  background-color: #128f76;
  border-color: #11866f;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: $dark1;
  border-color: $dark1;
}
.btn-success .badge {
  color: $dark1;
  background-color: white;
}
.btn-round {
  display: inline-block;
  height: 50px;
  width: 50px;
  // border: 2px solid $dark1;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
  outline: none;
}
.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049;
}
.scroll-top .btn {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 28px;
}
.scroll-top .btn:focus {
  outline: none;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin: 0;
  font-size: 3em;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content .item-details {
  margin: 30px 0;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: $dark2;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: $dark2;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
