<section id="cv" class="scroll-margin"> 

    <div class="row dark1 py-3" >
        <div class="col-lg-12 text-center">
            <h3 style="color: white;">Curriculum Vitae</h3>
        </div>
    </div>

    <div class="row container-light1" style="padding-top: 2em;">
        <div class="col-md-5 text-left offset-1">
            <table class="table table-borderless">
                <tr style="border-bottom: 1pt solid black;border-top: 1pt solid black;">
                    <th style="text-align: center;" nowrap><h4><span class="material-icons">work_outline</span></th>
                    <th style="text-align: center;"><h4>Employment</h4></th>
                </tr>
                {% for job in site.data.cv.employment %}
                <tr>
            
                <td class="cv-date" nowrap>{{job.start.year}}–{% if job.end %}{{job.end.year}}{% endif %}</td>
                <td class="cv">{{job.position}} at {{job.department}}, {{job.company}}, {{job.city}}, {{job.country}}{% if job.link %}&nbsp;<a href={{job.link}} target="_blank"><span class="material-icons">open_in_new</span></a>{% endif %}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="col-md-5">
            <table class="table table-borderless">
                <tr style="border-bottom: 1pt solid black;border-top: 1pt solid black;">
                    <th style="text-align: center;" nowrap><h4><span class="material-icons">school</span></th>
                    <th style="text-align: center;"><h4>Education</h4></th>
                </tr>
                {% for study in site.data.cv.education %}
                    <tr>
                        <td class="cv-date" nowrap>{{study.start.year}}–{% if study.end %}{{study.end.year}}{% endif %}</td>
                        <td class="cv">{{study.degree}} in {{study.field}} at {{study.school}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="row container-light1" style="padding-top: 2em;">
        <div class="col-md-5 text-left offset-1">
            <table class="table table-borderless">
                <tr style="border-bottom: 1pt solid black;border-top: 1pt solid black;">
                    <th style="text-align: center;" nowrap><h4><span class="material-icons">engineering</span></th>
                    <th style="text-align: center;"><h4>Experience and Skills</h4></th>
                </tr>
                {% for skill in site.data.cv.other_skills %}
                    <tr>
                        <td class="cv-date" nowrap>{{skill.kind}}</td>
                        <td class="cv">
                            {% for item in skill.specifics %}
                                {{item}}{% if forloop.last == false %}<br/>{% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="col-md-5 text-left">
            <table class="table table-borderless">
                <tr style="border-bottom: 1pt solid black;border-top: 1pt solid black;">
                    <th style="text-align: center;" nowrap><h4><span class="material-icons">terminal</span></th>
                    <th style="text-align: center;"><h4>Programming skills</h4></th>
                </tr>
                {% for language in site.data.cv.programming %}
                    <tr>
                        <td class="cv-date" nowrap>{{language.language}}<br/>
                            {% for i in (0..4) %} {%if i<language.level %}●{% else %}○{% endif %}{% endfor %}</td>
                        <td class="cv">
                            {% for item in language.specifics %}
                                {{item}}{% if forloop.last == false %}<br/>{% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</section>
