<!-- Header -->
<header>
    <div class="container-fluid container-light2" style="padding-top:10em;">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-3 canvas-container" style="text-align: center;">
                <canvas id="SFM" width="200" height="200" style="background-color: #31525B;"></canvas>
            </div>
            <div class="col-lg-8" style="text-align: left;">
                <h2>Hi, I am Alexander (Sasha) Pastukhov.</h2>
                <p>I am a behavioral neuroscientist / scientific programmer / data scientist keenly interested in visual perception, consciousness, attention, and decision making. My favorite psychophysical tool: multistable displays, like the rotating head (yes, that is me!) on the left. Currently, I teach courses on Bayesian statistics, data science using R, programming using Python, and linear algebra.</p>
                <p>
                    <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp; <a class='dark' href="mailto:pastukhov.alexander@gmail.com">pastukhov.alexander@gmail.com</a>
                    <br/>
                    <i class="fa fa-fw fa-twitter"></i>&nbsp;Twitter <a href="https://twitter.com/{{ site.twitter_username }}">@PastukhovSasha</a>
                    <br/>
                    <i class="icon-uni-bamberg"></i>&nbsp;<a href="https://www.uni-bamberg.de/allgpsych/">Department of General Psychology and Methodology @ University of Bamberg</a>
                    <br/>
                    <i class="fa fa-fw icon icon-researchgate align-self-center"></i>&nbsp;<a href="https://www.researchgate.net/profile/Alexander_Pastukhov">ResearchGate</a>
                    <br/>
                    <i class="fa fa-fw fa-github"></i>&nbsp;<a href="https://github.com/{{ site.github_username }}">github.com/{{ site.github_username }}</a>
                    <br/>
                    <i class="fa fa-fw icon icon-orcid align-self-center"></i>&nbsp;<a href="https://orcid.org/0000-0002-8738-8591">ORCID</a> 
                </p>
            </div>
        </div>
    </div>
</div>
</header>
