<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <canvas id="SFM" width="200" height="200" style='background:#F39237'></canvas>
            </div>
            <div class="col-lg-9">
                <h1>Welcome!</h1>
                <p>I am interested in dynamics of visual perception and my favorite way to study it is by using multi-stable displays.</p>
                <p>I work at the <a class='dark' href='https://www.uni-bamberg.de/en/allgpsych/'>University of Bamberg, Germany</a></p>
                <p>You can reach me at <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;<a class='dark' href="mailto:pastukhov.alexander@gmail.com">pastukhov.alexander@gmail.com</a></p>
            </div>
        </div>
    </div>
</div>
</header>
