{% include change_color.html %}

<!-- Software Section -->
<section id="software" class="scroll-margin">
    <div class="row dark{{icolor}} py-3">
        <div class="col-lg-12 text-center">
            <h3 style="color: white;">Software</h3>
        </div>
    </div>
    <div class="container-fluid container-light{{icolor}}">
        {% assign sorted_software = (site.data.software | sort: 'index') %}
            {% for current in sorted_software %}
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        {% if forloop.first == false %}
                            <hr class="dark{{icolor}}"/>
                        {% else %}
                            <br/>
                        {% endif %}
                    </div>
                </div>
            <div class="row">
                
            <div class="col-md-1"></div>
            <div class="col-lg-10">
                {% if current.docs %}
                    <h4>{{current.title}} {% for lang in current.language%}  <img src="img/{{lang}}.png" height="18" alt = {{lang}} data-toggle="tooltip" data-placement="top" title={{lang}}> {% endfor %}</h4>
                {% else %}
                    <h4>{{current.title}} {% for lang in current.language%}  <img src="img/{{lang}}.png" height="24"> {% endfor %}</h4>
                {% endif %}
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            {% if current.docs %}
                            <a href={{current.docs}}><b>Read the docs</b></a> |
                            {% endif %}
                            <b><a href={{current.github}}><b>Browse source code</b></a></b>
                            {% if current.CRAN %}
                            | <b><a href="https://cran.r-project.org/package={{current.CRAN}}">View on CRAN</a></b>
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-md-6" style="text-align: right;">
                        <p>
                        {% if current.zenodo %}
                        <a href="https://zenodo.org/badge/latestdoi/{{current.zenodo}}"><img src="https://zenodo.org/badge/{{current.zenodo}}.svg" alt="DOI"></a>
                    {% endif %}
                    {% if current.CRAN %}
                        <a href="https://cran.r-project.org/package={{current.CRAN}}" class="external-link"><img src="https://www.r-pkg.org/badges/version/{{current.CRAN}}" alt="CRAN status"></a>
                    {% endif %}
                </p>
    
                    </div>
                </div>
            <p>{{current.description}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>