<!-- Teaching Section -->
<section id="teaching" style="padding-top: 0%; padding-bottom: 0%;">
    <div class="container-fluid container-light1">
        <div class="row dark1 padded">
            <div class="col-lg-12 text-center">
                <h2 style="color: white;">Teaching Notes</h2>
            </div>
        </div>
        {% for current in site.data.teaching %}
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    {% if forloop.first == false %}
                        <hr class="dark1"/>
                    {% else %}
                        <br/>
                    {% endif %}
                </div>
            </div>
        <div class="row">
                
            <div class="col-md-1"></div>
            <div class="col-lg-10">
                <h4>{{current.title}}</h4>
                <p>{{current.description}}</p>
                <p><b><i class="fa fa-fw fa-github"></i><a href={{current.url}}><b>{{current.url}}</b></a></b>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>